# Observability Backend environment Variables
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=senhaforte
TRAEFIK_DOMAIN=grafana.seudominio.com.br

GRAFANA_LOKI_DATASOURCE_URL=http://loki:3100
GRAFANA_PROMETHEUS_DATASOURCE_URL=http://prometheus:9090
GRAFANA_TEMPO_DATASOURCE_URL=http://tempo:3200
GRAFANA_BASIC_AUTH_ENABLED=false
GRAFANA_BASIC_AUTH_USERNAME=
GRAFANA_BASIC_AUTH_PASSWORD=

# Colector OpenTelemetry environment Variables]
LOKI_URL=https://loki.jiffy.run/loki/api/v1/push
PROMETHEUS_URL=https://prometheus.jiffy.run/api/v1/write
OBSERVABILITY_BASIC_AUTH_USERNAME=alloy
OBSERVABILITY_BASIC_AUTH_PASSWORD=super-seguro-aqui
ENVIRONMENT=HOMOLOGACAO
